@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("base.css");
@import url("font.css");
@import url("modal.css");

/*共通容器設定*/
.outer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*通用flex設定*/
.d-flex-row {
  display: flex;
  align-items: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

/*通用margin設定*/
.margin-b-sm {
  margin-bottom: 12px;
}
.margin-b-md {
  margin-bottom: 20px;
}
.margin-b-lg {
  margin-bottom: 25px;
}

/*header*/
.header-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu-item {
  padding: 10px;
}

.header-menu-item-link:hover {
  color: #000;
}

/*index-header*/
.index-header {
  position: relative;
}

/*index-banner*/
.index-banner {
  padding-top: 75px;
  padding-bottom: 75px;
  background: no-repeat center/cover url(/static/img/banner-sm.svg);
}
@media screen and (min-width: 992px) {
  .index-banner {
    background: no-repeat center/cover url(/static/img/banner.svg);
  }
}

.index-banner input,
.index-banner input::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: #757575;
}

.index-banner-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.index-banner-header {
  margin-bottom: 15px;
}

.index-banner-text {
  margin-bottom: 25px;
}

.index-banner-search-outer {
  display: flex;
}

.index-banner-search {
  height: 46px;
  border-radius: 5px 0px 0px 5px;
  border-width: 0px;
  padding: 15px;
  min-width: 260px;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .index-banner-search {
    min-width: 400px;
  }
}

.index-banner-search-btn {
  border-radius: 0px 5px 5px 0px;
  border-width: 0px;
  padding: 8px 15px;
  background-color: #448899;
  cursor: pointer;
}

.index-banner-search-btn:active {
  background-color: #1b6172;
}

/* index-content */
.index-content-container {
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.index-content-mrt-list-outer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.index-content-mrt-list-outer img {
  display: block;
}

.index-content-mrt-list-outer button {
  border-width: 0px;
  background-color: transparent;
}

.index-content-mrt-left-arrow {
  padding: 9px 10px 9px 15px;
  cursor: pointer;
}

.index-content-mrt-right-arrow {
  padding: 9px 15px 9px 10px;
  cursor: pointer;
}

.index-content-mrt-list {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  padding: 13px 0px;
  overflow: auto;
  scrollbar-width: none; /*Firefox*/
}

.index-content-mrt-list::-webkit-scrollbar {
  display: none;
}

.index-content-mrt-link {
  display: block;
  padding: 5px 15px;
  white-space: nowrap;
}

.index-content-mrt-link:hover {
  color: black;
}

.index-content-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 15px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .index-content-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .index-content-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.index-content-list .card {
  display: block;
  border: 1px solid #e8e8e8;
  /* max-width: 270px; */
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .index-content-list .card {
    max-width: 270px;
  }
}

.index-content-list .card-img {
  min-height: 197px;
  min-width: 270px;
  position: relative;
  border-radius: 5px;
}

.index-content-list .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  text-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none; /*Firefox*/
}

.index-content-list .card-title::-webkit-scrollbar {
  display: none;
}

.index-content-list .card-text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* index-footer */ /*attraction-footer*/
.index-footer,
.attraction-footer,
.footer {
  background-color: #757575;
  padding-top: 45px;
  padding-bottom: 45px;
  font-weight: 700;
}

/*attraction-header*/ /*booking-header*/ /*thankyou-header*/
.attraction-header,
.booking-header,
.thankyou-header {
  position: relative;
}
.attraction-header::after,
.booking-header::after,
.thankyou-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e8e8e8;
}

/* attraction-content */
.attraction-content {
  display: flex;
  justify-content: center;
}

.attraction-content-container {
  width: 100%;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .attraction-content-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.attraction-content-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .attraction-content-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.attraction-content-bottom {
  position: relative;
  width: 100%;
  padding: 50px 10px 94px 20px;
  margin-bottom: 40px;
  display: grid;
  row-gap: 20px;
}
@media screen and (min-width: 992px) {
  .attraction-content-bottom {
    padding: 50px 10px 80px 10px;
  }
}
.attraction-content-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e8e8e8;
}

.attraction-content-bottom h3 {
  font-size: 16px;
}

.attraction-content-img {
  width: 100%;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .attraction-content-img {
    width: 50%;
    margin-right: 30px;
  }
}

.attraction-content-swiper-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.attraction-content-swiper-outer::-webkit-scrollbar {
  display: none;
}

.attraction-content-swiper-element {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 0 0 auto; /* 避免圖片被壓縮 */
}

.attraction-content-swiper-left-btn {
  position: absolute;
  left: 10px;
  top: 50%;
  cursor: pointer;
}

.attraction-content-swiper-right-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
}

.attraction-content-swiper-pagination {
  position: absolute;
  display: flex;
  bottom: 10px;
}

.attraction-content-pagination-element {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.attraction-content-pagination-element-active {
  background-color: black;
  border: 1px solid white;
}

.attraction-content-pagination-element
  + .attraction-content-pagination-element {
  margin-left: 12px;
}

.attraction-content-title-outer {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .attraction-content-title-outer {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.attraction-content-title {
  margin-bottom: 15px;
}

.attraction-content-select {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  .attraction-content-select {
    width: 50%;
    padding: 0;
  }
}

.attraction-content-form-outer {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e8e8e8;
}
@media screen and (min-width: 992px) {
  .attraction-content-form-outer {
    padding: 15px 20px 41px 20px;
  }
}

.attraction-content-form {
  display: grid;
  row-gap: 15px;
  margin-bottom: 25px;
}

.attraction-content-form-label {
  margin-right: 5px;
}

.attraction-content-form-date {
  border-width: 0;
  padding: 5px 10px;
  background-color: white;
}

.attraction-content-form-radio {
  accent-color: #448899;
  width: 22px;
  height: 22px;
}

.attraction-content-select-btn {
  padding: 10px 20px;
  background-color: #448899;
  border-width: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-contact,
.booking-payment {
  display: flex;
}

@media screen and (min-width: 992px) {
  .booking-contact,
  .booking-payment {
    justify-content: center;
  }
}

.booking-info-container,
.booking-contact-container,
.booking-payment-container,
.booking-confirm-container {
  padding: 40px 10px;
  width: 100%;
}

.booking-confirm-container {
  justify-content: end;
  position: relative;
  align-items: end;
}

@media screen and (min-width: 1200px) {
  .booking-info-container,
  .booking-contact-container,
  .booking-payment-container,
  .booking-confirm-container {
    width: 81.66%;
    max-width: 1200px;
  }
}

.booking-contact-container {
  position: relative;
}

.booking-contact-container::before,
.booking-confirm-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e8e8e8;
}

.booking-contact-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e8e8e8;
}

.booking-info-container {
  align-items: start;
}

.booking-info-header {
  margin-bottom: 30px;
}

.booking-info-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .booking-info-card {
    flex-direction: row;
  }
}

.booking-info-card-img {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .booking-info-card-img {
    min-width: 250px;
    max-width: 20.8%;
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.booking-info-card-header {
  margin-bottom: 25px;
}

.booking-info-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .booking-info-card-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.booking-info-card-list-item {
  font-weight: 700;
}

.booking-info-card-list-item span {
  font-weight: 400;
}

.booking-info-card-list-item + .booking-info-card-list-item {
  margin-top: 10px;
}

.booking-info-del-btn {
  border-width: 0px;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .booking-info-del-btn {
    align-self: auto;
  }
}

.booking-contact-header {
  margin-bottom: 20px;
}

.booking-contact-form-item,
.booking-payment-form-item {
  display: flex;
  align-items: center;
}

.booking-payment-form-item {
  height: 38px;
}

.booking-payment-form-item > .tpfield {
  height: 38px;
  width: 200px;
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
}

.booking-contact-form-item + .booking-contact-form-item {
  margin-top: 15px;
}

.booking-contact-text {
  margin-top: 15px;
}

.booking-payment-header {
  margin-bottom: 24px;
}

.booking-payment-form-item + .booking-payment-form-item {
  margin-top: 15px;
}

.booking-contact-form input,
.booking-payment-form input {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.booking-confirm-total-outer {
  margin-bottom: 22px;
}

.booking-confirm-btn {
  padding: 10px 20px;
  background-color: #448899;
  border-width: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-confirm-error-msg p {
  color: red;
  padding: 10px 20px;
}

.booking-hide {
  display: none;
}

.thankyou {
  padding: 20px 10px;
}

.thankyou-hide {
  display: none;
}

.thankyou-container {
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .thankyou-container {
    width: 81.66%;
    max-width: 1200px;
  }
}

.thankyou-container .card {
  padding: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.thankyou-container .card-header {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px;
}

.thankyou-container .card-body {
  padding: 12px;
}

.thankyou-order-img {
  width: 150px;
  height: 100px;
  margin-bottom: 12px;
}

@media screen and (min-width: 576px) {
  .thankyou-order-img {
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.thankyou-content {
  overflow-y: auto;
}

.thankyou-card-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .thankyou-card-content {
    flex-direction: row;
  }
}
