@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 共通設定 */
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  color: #666666;
  max-width: 100%;
}

body,
h1,
h2,
h3 {
  margin: 0px;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #666666;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: 0px;
}

input:focus {
  outline: none;
}

/*共通容器設定*/
.outer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*共通文字設定*/
.fz-1 {
  font-size: 30px;
}

.fz-2 {
  font-size: 28px;
}

.fz-3 {
  font-size: 24px;
}

.fz-4 {
  font-size: 19px;
}

.fz-5 {
  font-size: 16px;
}

.fz-6 {
  font-size: 14px;
}

.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.c-white {
  color: #ffffff;
}

.c-gray-10 {
  color: #f8f8f8;
}

.c-gray-50 {
  color: #757575;
}

.c-gray-70 {
  color: #666666;
}
/*通用flex設定*/
.d-flex-row {
  display: flex;
  align-items: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

/*index-header*/ /*attraction-header*/
.index-header-container,
.attraction-header-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.index-header-menu,
.attraction-header-menu {
  display: flex;
  align-items: center;
}

.index-header-menu-item,
.attraction-header-menu-item {
  padding: 10px;
}

/*index-banner*/
.index-banner {
  padding-top: 75px;
  padding-bottom: 75px;
  background: no-repeat center/cover url(/static/img/banner-sm.svg);
}
@media screen and (min-width: 992px) {
  .index-banner {
    background: no-repeat center/cover url(/static/img/banner.svg);
  }
}

.index-banner input,
.index-banner input::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: #757575;
}

.index-banner-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.index-banner-header {
  margin-bottom: 15px;
}

.index-banner-text {
  margin-bottom: 25px;
}

.index-banner-search-outer {
  display: flex;
}

.index-banner-search {
  height: 46px;
  border-radius: 5px 0px 0px 5px;
  border-width: 0px;
  padding: 15px;
  min-width: 260px;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .index-banner-search {
    min-width: 400px;
  }
}

.index-banner-search-btn {
  border-radius: 0px 5px 5px 0px;
  border-width: 0px;
  padding: 8px 15px;
  background-color: #448899;
  cursor: pointer;
}

.index-banner-search-btn:active {
  background-color: #1b6172;
}

/* index-content */
.index-content-container {
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.index-content-mrt-list-outer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.index-content-mrt-list-outer img {
  display: block;
}

.index-content-mrt-list-outer button {
  border-width: 0px;
  background-color: transparent;
}

.index-content-mrt-left-arrow {
  padding: 9px 10px 9px 15px;
  cursor: pointer;
}

.index-content-mrt-right-arrow {
  padding: 9px 15px 9px 10px;
  cursor: pointer;
}

.index-content-mrt-list {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  padding: 13px 0px;
  overflow: auto;
  scrollbar-width: none; /*Firefox*/
}

.index-content-mrt-list::-webkit-scrollbar {
  display: none;
}

.index-content-mrt-link {
  display: block;
  padding: 5px 15px;
  white-space: nowrap;
}

.index-content-mrt-link:hover {
  color: black;
}

.index-content-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 15px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .index-content-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .index-content-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.index-content-list .card {
  display: block;
  border: 1px solid #e8e8e8;
  /* max-width: 270px; */
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .index-content-list .card {
    max-width: 270px;
  }
}

.index-content-list .card-img {
  min-height: 197px;
  min-width: 270px;
  position: relative;
  border-radius: 5px;
}

.index-content-list .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  text-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none; /*Firefox*/
}

.index-content-list .card-title::-webkit-scrollbar {
  display: none;
}

.index-content-list .card-text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* index-footer */
.index-footer {
  background-color: #757575;
  padding-top: 45px;
  padding-bottom: 45px;
}

/*attraction-header*/
.attraction-header {
  position: relative;
}
.attraction-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e8e8e8;
}

/* attraction-content */
.attraction-content {
  display: flex;
  justify-content: center;
}

.attraction-content-container {
  width: 100%;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .attraction-content-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.attraction-content-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .attraction-content-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.attraction-content-bottom {
  position: relative;
  width: 100%;
  padding: 50px 10px 94px 20px;
  margin-bottom: 40px;
  display: grid;
  row-gap: 20px;
}
@media screen and (min-width: 992px) {
  .attraction-content-bottom {
    padding: 50px 10px 80px 10px;
  }
}
.attraction-content-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e8e8e8;
}

.attraction-content-bottom h3 {
  font-size: 16px;
}

.attraction-content-img {
  width: 100%;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .attraction-content-img {
    width: 50%;
    margin-right: 30px;
  }
}

.attraction-content-swiper-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.attraction-content-swiper-outer::-webkit-scrollbar {
  display: none;
}

.attraction-content-swiper-element {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 0 0 auto; /* 避免圖片被壓縮 */
}

.attraction-content-swiper-left-btn {
  position: absolute;
  left: 10px;
  top: 50%;
  cursor: pointer;
}

.attraction-content-swiper-right-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
}

.attraction-content-swiper-pagination {
  position: absolute;
  display: flex;
  bottom: 10px;
}

.attraction-content-pagination-element {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.attraction-content-pagination-element-active {
  background-color: black;
  border: 1px solid white;
}

.attraction-content-pagination-element
  + .attraction-content-pagination-element {
  margin-left: 12px;
}

.attraction-content-title-outer {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .attraction-content-title-outer {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.attraction-content-title {
  margin-bottom: 15px;
}

.attraction-content-select {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  .attraction-content-select {
    width: 50%;
    padding: 0;
  }
}

.attraction-content-form-outer {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e8e8e8;
}
@media screen and (min-width: 992px) {
  .attraction-content-form-outer {
    padding: 15px 20px 41px 20px;
  }
}

.attraction-content-form {
  display: grid;
  row-gap: 15px;
  margin-bottom: 25px;
}

.attraction-content-form-label {
  margin-right: 5px;
}

.attraction-content-form-date {
  border-width: 0;
  padding: 5px 10px;
}

.attraction-content-form-radio {
  accent-color: #448899;
  width: 22px;
  height: 22px;
}

.attraction-content-select-btn {
  padding: 10px 20px;
  background-color: #448899;
  border-width: 0px;
  border-radius: 5px;
  cursor: pointer;
}
